<div>
    <!--# Логотип. #-->
    <img src="../img/modules/zoneminder.png"  width="30" height="30">
    &nbsp;&nbsp;&nbsp;
    <!--# Кнопка 'Настройки'. #-->
    <a class="btn btn-default" href="#api_settings" data-toggle="collapse"><i class="glyphicon glyphicon-cog"></i> Настройки</a>

    <!--# Кнопка 'О модуле'. #-->
    <div class="float-right">&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#about">О модуле&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span></button>
    <!--# Кнопка 'Справка'. #-->
    <div class="float-right">&nbsp;&nbsp;&nbsp;</div>
    <a href="#" class="btn btn-default btn-sm float-right" title="Справка"><i class="glyphicon glyphicon-question-sign"></i></a>
</div>

<!--# Выпадающее меню настроек. #-->
[#inc settings.html#]

<!--# Страница со списком камер #-->
[#if VIEW_MODE="test" || VIEW_MODE=""#]
    [#inc zoneminder_monitors.html#]
[#endif VIEW_MODE#]

<!--# Страница со списком событий #-->
[#if VIEW_MODE="events"#]
    [#inc zoneminder_events.html#]
[#endif VIEW_MODE#]

<!--# Страница события #-->
[#if VIEW_MODE="event"#]
    [#inc zoneminder_event.html#]
[#endif VIEW_MODE#]

[#inc about.html#]