[#if EVENTS#]
<table align=center class="table table-hover table-condensed table-responsive" style="margin-top: 1em;">
  <thead>
  <tr>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_ID#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_NAME#></th>
    <th><#LANG_ZONEMINDER_COLUMN_MONITOR#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_START_TIME#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_END_TIME#></th>
    <th style="text-align: center"><#LANG_ZONEMINDER_COLUMN_DURATION#></th>
    <th><#LANG_ZONEMINDER_COLUMN_DISK_SPACE#></th>
    <th><#LANG_ZONEMINDER_COLUMN_THUMBNAIL#></th>
  </tr>
  </thead>
  <tbody>
  [#begin EVENTS#]
    <tr>
      <td style="text-align: center">[#Id#]</td>
      <td style="text-align: center"><a href="?view_mode=event&eventid=[#Id#]">[#Name#]</a></td>
      <td>[#monitorname#]</td>
      <td style="text-align: center">[#StartDateTime#]</td>
      <td style="text-align: center">[#EndDateTime#]</td>
      <td style="text-align: center">[#Length#]</td>
      <td>[#DiskSpace#]</td>
      <td><img src="/camera.php?source=thumbnail&eid=[#Id#]&width=96&height=54" width="96" height="54"></td>
    </tr>
  [#end EVENTS#]
  </tbody>
</table>
[#if Paginator#]
<div style="display: flex; flex-direction: row; justify-content: center;">
  [#Paginator#]
</div>
[#endif Paginator#]
[#else#]
<div style="display: flex; flex-direction: row; justify-content: center;">
  <h3><#LANG_ZONEMINDER_NO_EVENTS_TEXT#></h3>
</div>
[#endif EVENTS#]