name: Majordomo-test deploy
on:
  push:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Download develop artifact
        run:  curl -L https://github.com/layet/majordomo-zoneminder/archive/develop.tar.gz > /home/stellar/github/develop.tar.gz